{% extends 'base.html.twig' %}

{% block title %}Unidades{% endblock %}

{% block body %}

         <div class="secao">
            <h3 class="titulo">Unidades</h3>
            <table class="table table-striped table-bordered datatable">
                <thead>
                    <tr>
                        <th>Sigla</th>
                        <th>Código</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                {% for unidade in unidades %}
                    <tr>
                        <td>{{ unidade.sigla }}</td>
                        <td><a href="{{ path('unidade_edit', {'id': unidade.id}) }}">{{ unidade.id }}</a></td>
                        <td>{{ unidade.nome }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}