{% extends 'base.html.twig' %}

{% block title %}New Unidade{% endblock %}

{% block body %}

         <div class="secao">
            <h3 class="titulo">Nova Unidade</h3>
            {{ include('unidade/_form.html.twig') }}
        </div>

{% endblock %}