{% extends "caixa/_base.html" %}
{% block content %}

<main>
   <div class="content">
      <section class="full">
         <div class="secao">
            <h3 class="titulo">Standard Buttons</h3>
            <section class="row">
                <div class="col-sm-12">
                        <div class="card-block btn-margins">
                                <h6 class="mb-3 mt-4 pl-1">Small</h6>
                                <button type="button" class="btn btn-sm btn-primary">Primary</button>
                                <button type="button" class="btn btn-sm btn-secondary">Secondary</button>
                                <button type="button" class="btn btn-sm btn-success">Success</button>
                                <button type="button" class="btn btn-sm btn-info">Info</button>
                                <button type="button" class="btn btn-sm btn-warning">Warning</button>
                                <button type="button" class="btn btn-sm btn-danger">Danger</button>
                                <button type="button" class="btn btn-sm btn-link">Link</button>
                                <h6 class="mb-3 mt-4 pl-1">Medium</h6>
                                <button type="button" class="btn btn-md btn-primary">Primary</button>
                                <button type="button" class="btn btn-md btn-secondary">Secondary</button>
                                <button type="button" class="btn btn-md btn-success">Success</button>
                                <button type="button" class="btn btn-md btn-info">Info</button>
                                <button type="button" class="btn btn-md btn-warning">Warning</button>
                                <button type="button" class="btn btn-md btn-danger">Danger</button>
                                <button type="button" class="btn btn-md btn-link">Link</button>
                                <h6 class="mb-3 mt-4 pl-1">Large</h6>
                                <button type="button" class="btn btn-lg btn-primary">Primary</button>
                                <button type="button" class="btn btn-lg btn-secondary">Secondary</button>
                                <button type="button" class="btn btn-lg btn-success">Success</button>
                                <button type="button" class="btn btn-lg btn-info">Info</button>
                                <button type="button" class="btn btn-lg btn-warning">Warning</button>
                                <button type="button" class="btn btn-lg btn-danger">Danger</button>
                                <button type="button" class="btn btn-lg btn-link">Link</button>
                            </div>
                    </div>
            </section>


         </div>
      </section>
   </div>
</main>
{% endblock %}