{% extends "caixa/_base.html" %}
{% block content %}
    <main>
      <div class="content">
        <aside>
          <div class="logo">
            <img src="./images/logo_temp.jpg" alt="">
          </div>
          <h2>Nome do Sistema</h2>

          <nav>
            <ul class="menu">
              <li>
                <a href="" title="Item de Menu">Item de Menu</a>
                <ul>
                  <li>
                    <a href="" title="Item de Menu">Item de Menu</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="" title="Item de Menu">Item de Menu</a>
                <ul>
                  <li>
                    <a href="" title="Item de Menu">Item de Menu</a>
                    <ul>
                      <li>
                        <a href="" title="Item de Menu">Item de Menu</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="" title="Item de Menu">Item de Menu</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </aside>
        <section>
          <p class="breadcrumb">
            <strong>Você está em</strong>
            <a href="" title="Home">Home</a> 
            <a href="" title="Lorem Ipsum dolor">Lorem Ipsum dolor</a> Sit amet consectetur</p>

          
          <div class="sidebar">

            <div class="item artigos">
              <h4>Dolar Amet</h4>
              <ul>
                <li>
                  <a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a>
                </li>
                <li>
                  <a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a>
                </li>
                <li>
                  <a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a>
                </li>
              </ul>
              <a href="#" class="verMais" title="Leia mais">Leia mais</a>
            </div>
            <div class="lista_post item">
              <h4>Lorem ipsum Dolar</h4>
              <div class="post">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper, leo eget sodales blandi.</p>
                <a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a>
              </div>
              <div class="post">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper, leo eget sodales blandi.</p>
                <a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a>
              </div>
              <div class="post">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper, leo eget sodales blandi.</p>
                <a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a>
              </div>

              <a href="#" class="verMais" title="Leia mais">Leia mais</a>
            </div>
          </div>

          <div class="principal">
            <h3 class="titulo">Formulários</h3>

            <div class="formulario">
              <h6>Formulário</h6>
              <p>Os campos obrigatórios estarão sinalizados com *</p>
              <form data-toggle="validation" role="form">
                <div class="row">
                  <div class="col-xs-12">
                    <span class="required">*</span>
                    <input type="text">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <span class="required">*</span>
                    <select>
                      <option value="">Opção</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <span class="required">*</span>
                    <input type="text">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <span class="required">*</span>                    
                    <label for="">Lorem Ipsum</label>
                    <div class="inline">
                      <label><input type="checkbox"> Opção 1</label>
                      <label><input type="checkbox"> Opção 1</label>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-8">
                    <span class="required">*</span>
                    <label for="">Lorem Ipsum</label>
                    <input type="text">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <span class="required">*</span>
                    <label for="">Lorem Ipsum</label>
                    <textarea>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </textarea>
                  </div>
                </div>
                
                <div class="row acoes">
                  <a href="#" title="Cancelar" class="btn-primary">Cancelar</a>
                  <button class="btn-warning">Continuar</button>
                </div>
              
              </form>
            </div>
          </div>

          <nav class="paginacaoGeral" aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" class="proximo" aria-label="Previous">
                  anterior
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" class="anterior" aria-label="Next">
                  próximo
                </a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </main>
 
    {% endblock %}