{% extends "caixa/_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <main class="login">
      <div class="content">
          <section>
            <h3 class="titulo">Login</h5>
              <div class="erro">
                <p></p>
              </div>
              <form data-toggle="validation" role="form" class="form" role="form" method="post" action="">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}

                <ul>
                  <li>
                    {{ wtf.form_field(form.email) }}
                  </li>
                  <li>
                      {{ wtf.form_field(form.password) }}
                  </li>
                  <li>
                    <button type="submit">Continuar</button>
                  </li>
                </ul>
              </form>
          </section>
      </div>
    </main>

{% endblock %}