<footer>
    <div class="content">

        <h6>Caixa Econômica Federal</h6>

        <ul>
            <li>
                <a href="#" title="Política de Privacidade ">Política de Privacidade </a>
            </li>
            <li>
                <a href="#" title="Termos de Uso">Termos de Uso</a>
            </li>
            <li>
                <a href="#" title="Mapa do Site">Mapa do Site</a>
            </li>
        </ul>
    </div>
</footer>