{% extends 'base.html.twig' %}

{% block title %}Editar Ususário{% endblock %}

{% block body %}

         <div class="secao">
            <h3 class="titulo">Editar Usuário</h3>

    {{ include('user/_form.html.twig', {'button_label': 'Salvar'}) }}
    
    </br>
    {{ include('user/_delete_form.html.twig') }}

        </div>

{% endblock %}