{% extends 'base.html.twig' %}

{% block title %}Usuários{% endblock %}

{% block body %}

         <div class="secao">
            <h3 class="titulo">Usuários</h3>
            <table class="table table-striped table-bordered datatable">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>FullName</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('user_edit', {'id': user.id}) }}">{{ user.username }}</a></td>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}