{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

  <div class="secao">
    <h3 class="titulo">Novo Usuário</h3>
    {{ include('user/_form.html.twig') }}
  </div>

{% endblock %}